img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    margin-top: 62px;
    font-family: var(--fonts-oswald);
}

html,
body {
    overflow-x: hidden;
}

button {
    border: none;
    background: none;
    padding: 0;
}

a {
    color: var(--colors-noir);
}

p {
    font-size: var(--sizes-textes);
    font-family: var(--fonts-montserrat);
    color: var(--colors-noir);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1 {
    font-size: var(--sizes-grands-titres);
    font-family: var(--fonts-oswald);
    color: var(--colors-blanc);
    font-style: normal;
    font-weight: 600;
    line-height: 6.875rem;
}

h2 {
    font-size: var(--sizes-titres);
    font-family: var(--fonts-oswald);
    color: var(--colors-noir);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h3 {
    font-size: var(--sizes-sous-titres);
    font-family: var(--fonts-montserrat);
    color: var(--colors-noir);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h4 {
    font-size: var(--sizes-gras);
    font-family: var(--fonts-montserrat);
    color: var(--colors-noir);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

h5 {
    font-size: var(--sizes-descriptions);
    font-family: var(--fonts-montserrat);
    color: var(--colors-noir);
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

h6 {
    font-size: var(--sizes-petits-textes-gras);
    font-family: var(--fonts-montserrat);
    color: var(--colors-noir);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.u-noscroll {
    position: fixed;
    inset: 0;
    width: 100%;
    overflow: hidden;
    touch-action: none;
}