.header__bar {
    background-color: var(--colors-bleu-fonce);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;
    position: sticky;
    top: 0;
    z-index: 50;
}

.header__btn {
    display: flex;
    gap: 15px;
    align-items: center;
}