.menu__btn {
    height: 24px;
    width: 24px;

}

.menu-btn__bar {
    width: 100%;
    height: 4px;
    background: var(--colors-blanc);
    border-radius: 2px;
    transition: .3s ease;
}

.header__menu-btn {
    z-index: 10;
    width: 23px;
    height: 27px;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.back-btn {
    position: fixed;
    top: 5rem;
    left: 1.5rem;
    z-index: 53;
    background-color: var(--colors-bleu-fonce);
    border-radius: 50%;
    padding: 10px;
}