.hero {
    background: url(/assets/img/hero_home.avif) no-repeat center;
    background-size: cover;
    height: 543px;
    display: flex;
    justify-content: center;
}


.hero__title {
    position: relative;
    margin: 1rem;
    top: 300px;

}

.arrow__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.hero--contact {
    background: var(--colors-rose-rouge);
    height: 250px;
    align-items: center;
}

.hero--contact .hero__title {
    top: 0;
}

.hero--contact {
    height: 250px;
    align-items: center;
}

.section-hero--contact {
    background: var(--colors-rose-rouge);
    height: 200px;
    display: flex;
    padding: 1rem;

}