.hero {
    background: url(/assets/img/hero_home.avif) no-repeat center;
    background-size: cover;
    height: 543px;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: var(--photo-filter);
    mix-blend-mode: multiply;

}


.hero__title {
    position: relative;
    margin: 1rem;
    top: 300px;
    z-index: 1;

}

.arrow__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.hero-rose {
    background-color: var(--colors-rose-rouge);
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero-rose {
    background: var(--colors-rose-rouge);
    height: 250px;
    align-items: center;
    display: flex;
    padding: 1rem;
}

.hero-rose__title {
    top: 0;
    margin: auto;
}



.section-hero--article1 {
    background: url(/assets/img/hero_art1.avif) no-repeat center;
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

.section-hero--article2 {
    background: url(/assets/img/hero_art2.avif) no-repeat center;
    background-size: cover;
    height: 400px;
    position: relative;
}

.section-hero--article3 {
    background: url(/assets/img/hero_art3.avif) no-repeat center;
    background-size: cover;
    background-position: left;
    height: 400px;
    position: relative;
}

.section-hero--article4 {
    background: url(/assets/img/hero_art4.avif) no-repeat center;
    background-size: cover;
    height: 400px;
    position: relative;
}

.section-hero--article5 {
    background: url(/assets/img/hero_art5.avif) no-repeat center;
    background-size: cover;
    height: 230px;
    position: relative;
}


.section-hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: var(--photo-filter);
    mix-blend-mode: multiply;

}