 .language {
     position: fixed;
     inset: 0;
     z-index: 52;
     top: 63px;
     visibility: visible;
     opacity: 1;
     transition: opacity 0.3s ease, visibility 0.3s ease;
 }

 .language[hidden] {
     visibility: hidden;
     opacity: 0;
     pointer-events: none;
 }

 .language__list {
     list-style: none;
     display: flex;
     justify-content: flex-end;
     gap: 1rem;
     padding: 0.5rem;
     margin: 0;
     background-color: var(--colors-bleu);
     margin-left: 16rem;
     padding-right: 0.5rem;
 }

 .language__triangle {
     position: fixed;
     top: 50px;
     right: 3.1rem;
     z-index: 52;
     display: inline-block;
     height: 0;
     width: 0;
     border-right: 20px solid transparent;
     border-bottom: 20px solid var(--colors-bleu);
     border-left: 20px solid transparent;
 }

 .language__link {
     text-decoration: none;
     color: var(--colors-blanc);
     font-family: var(--fonts-oswald);
     font-size: var(--sizes-descriptions);
     font-style: normal;
     font-weight: 400;
     line-height: normal;
 }

 .language__link:hover {
     text-decoration: underline;
 }