.menu {
    position: fixed;
    inset: 0;
    z-index: 10;
    list-style: none;
    display: flex;
    top: 2rem;
    gap: 2rem;

    flex-direction: column;
    padding: 2rem;
    padding-top: 6rem;
    background-color: var(--colors-bleu-fonce);
    transform: translateY(0);
    transition: transform 0.3s ease-in-out, visibility 0.4s;
    visibility: visible;
}

.menu[hidden] {
    transform: translateY(-100%);
    visibility: hidden;
}

.menu__main-list {
    list-style: none;
    display: flex;
    text-align: right;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.menu__link {
    text-decoration: none;
    color: var(--colors-blanc);
    font-family: var(--fonts-montserrat);
    font-size: var(--sizes-gras);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.menu__secondary-list {
    list-style: none;
    display: flex;
    text-align: right;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 2rem 0 0 0;
}

.menu__secondary-link {
    text-decoration: none;
    color: var(--colors-blanc);
    font-family: var(--fonts-montserrat);
    font-size: var(--sizes-descriptions);
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}