.pages-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 5rem;
    padding: 2rem;

    place-items: center;
    margin-bottom: 6rem;
}

.pages-cards__card {
    position: relative;
    border-radius: 1.25rem;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 18.75rem;
    aspect-ratio: 1 / 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pages-cards__card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.pages-cards__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}



.pages-cards__title {
    position: absolute;

    left: 1rem;
    right: 1rem;
    bottom: 9rem;
    color: var(--colors-blanc, #ffffff);
    font-weight: 700;
    margin: 0;
    z-index: 3;
}

.pages-cards__description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    height: 5.25rem;
    background: var(--colors-bleu-fonce, #2e386f);
    color: var(--colors-blanc, #ffffff);
    margin: 0;
    z-index: 2;
}