/*normalize*/
@import "vendors/normalize.css";

/*utils*/
@import "utils/variables.css";

/*base*/
@import "base/main.css";
@import "base/media.css";

/*layout*/
@import "layout/footer.css";
@import "layout/header.css";

/*components*/
@import "components/boutons.css";
@import "components/heros.css";